:root{
    --bg-dark:#1a2f3a;
    --logo-height:100px;
    --heather-height:100px;
    --aside-width:225px;
    --footer-heighter:40px;
    ---shadow:
    0px 23px 0 rgba(0,0,0,1)
    0px 25px 0 rgba(0,0,0,6)

}*{box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    .app{
        margin: auto;
        display: grid;
        grid-auto-flow: var(--aside-width);
        grid-template-rows: auto;
        grid-template-areas: "logo headers";
    }
